{% extends 'base.html.twig' %}

{% block title %}Editer son profil{% endblock %}

{% block body %}

{{ form_start(form) }}

    {{ form_row(form.username, {
        "attr": {"placeholder" : "Saisissez votre username",
            "class": "form-control"
        }
    }) }}
    {{ form_row(form.password, {
        "attr": {"placeholder" : "Saisissez votre mot de passe",
            "class": "form-control",
            "required": "false"
        }
    }) }}
    {{ form_row(form.passwordVerification, {
        "attr": {"placeholder" : "Confirmez votre mot de passe",
            "class": "form-control",
            "required": "false"
        }
    }) }}
  {{ form_row(form.favoritePokemon, {
        "attr": {"placeholder" : "Saisissez votre pokémon préféré",
            "class": "form-control"
        }
    }) }}{{ form_row(form.genre, {
        "attr": {"placeholder" : "Saisissez votre genre",
            "class": "form-control"
        }
    }) }}


    <button type="submit" class="btn btn-primary mt-3">Modifier</button>
{{ form_end(form) }}

{% endblock %}